.country-list-container {
    display: flex;
    justify-content: center;
}

.table-title {
    text-align: center;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
  }
  
.table tbody tr:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}
  